*{
  margin: 0%;
  padding: 0%;
  
}
.main{
  width: 100%;
  display: flex;
  align-items: center;

}
video{
  width:33.33%;
  height: 1100px;
  object-fit: cover;
}
.content{
  position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: aliceblue;
}
.overlay{
  position: absolute;
left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
}
.content2{
  position: absolute;
  width: 60%;
  top: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: aliceblue;
 
}  
.content2 div {
  
  cursor: pointer;
  margin-left: -20%;
}
#work{
margin-left: 500px;
}
#headerimg{
  
  max-height: 30%;
  max-width: 30%;

  border-radius: 50%;
  margin-left: -150%;
}
#headerimg:hover{
  


  box-shadow: 16px 16px 32px #8b8903,
        -16px -16px 32px #8b8903;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.headeracount {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  position: absolute;
  top: 25%;
  
  right: -10%;
  color: black;
  margin-top: 5%;
}



/* Position the headeracount and logout button to the top right */
 .logout-login {
  position: absolute;
  top: 25%;
  
  right: -20%;
  color: black;
}

.headeracount:hover, .logout-login:hover{
  color: #e90808;
} 

/* Position the username to the top right */
.username {
  position: absolute;
  top: 25%;
  right: -10%;
}
.username:hover{
  color: #db0b0b;
}
.login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 50px;
}

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  width: 480px;
  flex-direction: column;
  gap: 35px;
  background: #eeeff3ad;
  box-shadow: 8px 8px 16px #f7f2f2fb,
        -8px -8px 16px #f1eeee;
  border-radius: 100px;
  margin-left: 5%;
  margin-top: 10%;
}

.inputBox {
  position: relative;
  width: 400px;

}

.inputBox input {
  width: 90%;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
  margin-bottom: 30px;
 
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#email {
  margin-bottom: 50px;
}

#password {
  margin-bottom: 70px;
}

#user {
  margin-bottom: 50px;
}
.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 8px 8px 16px #faf7f7,
        -8px -8px 16px #fdf7f7;
  margin: 10px;
  padding: 10px;
  background-color: #0000008a;
  width: 350px;
}

.project-card h2 {
  margin: 10px 0;
  
  font-weight: bold;
}

.project-image-container {
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-image-container img {
  
  object-fit: cover;
  margin: 10px;
}

.project-image-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-image-container li {
  margin: 5px 0;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  width: 480px;
  flex-direction: column;
  gap: 35px;
  background: #e7220846;
  box-shadow: 8px 8px 16px #f00404be,
        -8px -8px 16px #e90a0ace;
  border-radius: 100px;
  margin-left: 5%;
  margin-top: 10%;
}
.project-card button {
  background-color: #328db1; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#bckbutton h1 {
  background-color: #070101; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40%;
}
