.search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
  }
  
  .form-outline {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    margin: 150px;
    background-color: #8d05052a;
    box-shadow: 4px 4px 8px #f3f3f1,
    -4px -4px 8px #f5f5f4;
    border-radius: 10px;
    
  }
  
  .form-control {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fcfdff;
    background-color: transparent;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  
  .search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #f8f8f6;
    
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  .search-button:hover{
    color: #50f80d;
  
  }
  
  .search-gap {
    width: 33.3%;
  }
  input::placeholder {
    color: rgba(247, 241, 241, 0.993);
    font-weight: bold;
    
  }
  .switchSearch {
    margin-top: -90px;
    color: #eceff0;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .switchSearch:hover {
    margin-top: -90px;
    color: #f7f7f796;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    box-shadow: 4px 4px 8px #070707,
    -4px -4px 8px #080800;
    text-decoration: none;
  }